<div class="form-field js-form-field {{ content.disabled }}">
    <input
        name="{{ content.name }}"
        type="text"
        {{#if content.required}}required{{/if}}
        {{content.disabled}}
        {{#if content.minlength}}minlength="{{content.minlength}}"{{/if}}
        {{#if content.maxlength}}maxlength="{{content.maxlength}}"{{/if}}
        class="form-field__input js-form-field-input js-form-field-input-number {{content.dopClass}}"
        value="{{content.value}}"
    >
    <label class="form-field__label">{{ content.title }}{{#if content.required}}*{{/if}}</label>
    <div class="form-field__caption form-field__caption--error js-validation-error">Введите число</div>
</div>
