<div class="property-card property-block__card swiper-slide">
  {{#if content.layout }}
  <picture class="property-card__layout">
    <img class="property-card__image" src="{{ content.layout }}" alt="Планировка квартиры" loading="lazy" />
  </picture>
  {{/if}}
  <div class="property-card__body">
    <div class="h4 property-card__title">
      {{#ifCond content.type "==" "apartment"}}
      <div>
        {{ ../content.numberOfRooms }}-комнатная
        <span class="nowrap">
          {{ ../content.area }} м
          <sup>2</sup>
        </span>
      </div>
      {{else}}
      {{../content.name }}
      {{/ifCond}}
    </div>
    {{#ifCond content.type "!==" "apartment" }}
    <ul class="property-card__list">
      <li>
        Площадь
        <span class="nowrap">
          {{ ../content.area }} м
          <sup>2</sup>
        </span>
      </li>
      <li>Номер: {{ ../content.number }}</li>
      <li>
        Стоимость:
        {{#if ../content.price }}
        <span>{{ ../../content.price }} ₽</span>
        {{else}}
        по запросу
        {{/if}}
      </li>
    </ul>
    {{/ifCond }}
  </div>
  {{#ifCond content.type "==" "apartment"}}
  <button type="button" class="property-card__action-button button-link js-modal-open-button" data-modal="apartment">
    Подробнее
  </button>
  {{else}}
  <button
    type="button"
    class="property-card__action-button button-link js-open-booking-request"
    data-id="{{ ../content.id }}"
  >
    Забронировать
  </button>
  {{/ifCond}}
</div>
